.tablestyle
{
    border: 1px solid #dadada;
    text-align: left;
    margin-top:20px;
}

thead{
    background-color: rgb(221, 235, 254);
    border-radius: 10px;
    color:rgb(131, 131, 131);
    font-weight: 300px;
    border: none;
}
.wrapper {
    overflow: auto;
    border-radius: 25px;
    border: 1px solid #dadada;
    }
    
    table {
    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden;
    width:70%;
    margin:auto;
    }
    
    th, td {
    padding: 10px;
    border: 1px solid #CCCCCC;
    }

    table,th, td{
        border:1px soild #dadada;
        border-collapse: collapse;
    }

    tr{
        border-bottom: 1pt solid #dadada;
    }

    .btncenter
    {
    display:block;
    margin:auto;

    }
